<div class="card">
    <div class="card-header">
        
        <a class="btn btn-success" routerLink="/add-empleado">Agregar empleado</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8">
                <h1>Lista Empleados</h1>
            </div>
            <div class="col-lg-4">
                <h6>BUSCAR EMPLEADO</h6>
                <input type="text" placeholder="Buscar por nombre" class="form-control" 
                [(ngModel)]="filterText">
            </div>
        </div>
       
        <br>
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Tipo Cedula</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of empleados| filtro: filterText">
                        <td>{{ e.id }}</td>
                        <td>{{ e.nombre }}</td>
                        <td>{{ e.apellido }}</td>
                        <td>{{ e.ntipocedula }}</td>
                        <td>{{ e.cedula }}</td>
                        <td>{{ e.correo }}</td>
                        <td>
                          <a class="btn btn-info" routerLink="/edit-empleado/{{ e.id }}">Editar</a> |
                          <a class="btn btn-danger" (click)="borrarRegistro(e.id)" role="button">Borrar</a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>