<!--
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Sistema <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="list-empleado">Listar empleado</a>
        <a class="nav-item nav-link" routerLink="add-empleado">Agregar empleado</a>
        <h1>otro</h1>
        <a class="nav-item nav-link" routerLink="phpjs">CRUD empleado PHPJS</a>
        <h1>otro</h1>
        <a class="nav-item nav-link" routerLink="php">CRUD empleado PHP</a>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Dropdown item</a></li>
            <li><a class="dropdown-item" href="#">Dropdown item</a></li>
            <li><a class="dropdown-item" href="#">Dropdown item</a></li>
          </ul>
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SISTEMA CRUD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLinkActive="active" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Angular/PHP
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item" routerLink="list-empleado">Listar empleado</a></li>
                  <li><a class="dropdown-item" routerLink="add-empleado">Agregar empleado</a></li>
                </ul>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="phpjs" routerLinkActive="active" *ngIf="isPhpRoute()">JS/PHP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="php" routerLinkActive="active" *ngIf="isHomeRoute()">PHP</a>
          </li>
        </ul>
      </div>
    </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>